<!--Main navigation bar-->
<div id="main-nav-bar">
    <button class="tablink" onclick="location.href='/';">Home</button> <!--TODO: define action onclick https://www.w3schools.com/howto/howto_js_full_page_tabs.asp-->
    <button class="tablink" onclick="location.href='/users/';">Profile</button>
    <button class="tablink" onclick="location.href='/posts/';">Feed</button>
    <label for="nav-workspace-notification">
        <button class="tablink" onclick="location.href='/workspaces/';">Workspaces</button>
        <input type="checkbox" class="workspace-notification" id="nav-workspace-notification" style="display: none"/>
            <i class="fas fa-circle"></i>
    </label>
</div>