<!-- a partial that contains a list of relationships, data loaded on client side-->
<!--Contains active users at the top-->
<div id="workspace-div">
</div>

<!-- A div that will contain the user's relationships divided by status, approved, pending, rejected and completed-->
<div id="relationships-div"> 
</div>

<!-- Will contain the workspace info when a single relationship is selected -->
<div id="single-workspace-div">
    <div id="edit-timeline-interval" style="display: none;">
        <fieldset>
        <form id="edit-timeline-interval-form" method="post" action="#">
            <legend>How often do you want to check in?:</legend>
            <label for="timeline-interval">Every:</label>
            <input type="number" id="input-timeline-interval" name="timeline-interval" min="1" max="100">
               
                <div class="timeline-interval-select">
                <input type="radio" id="minutes-select" name="interval-setting" value="minutes" checked>
                <label for="minutes-select">Minutes</label>
                </div>

                <div>
                <input type="radio" id="hour-select" name="interval-setting" value="hours">
                <label for="hour-select">Hours</label>
                </div>

                <div>
                <input type="radio" id="day-select" name="interval-setting" value="days">
                <label for="day-select">Days</label>
                </div>
        </form>
        <button class="btn btn-primary" id="submit-timeline-interval-form" type="submit" form="edit-timeline-interval-form" value="Submit">Submit</button>
        </fieldset>
    </div>
</div>
