<!-- a "partial" that contains a list of relationships-->
<!--Contains active users at the top-->
<div id="workspace-div">

</div>

<!-- A div that will contain the user's relationships divided by status, approved, pending, rejected and completed-->
<div id="relationships-div"> 

</div>

<div id="single-workspace-div">

</div>
