<!-- a partial that contains a list of relationships, data loaded on client side-->
<!--Contains active users at the top-->
<div id="workspace-div">
</div>

<!-- A div that will contain the user's relationships divided by status, approved, pending, rejected and completed-->
<div id="relationships-div"> 
</div>

<!-- Will contain the workspace info when a single relationship is selected -->
<div id="single-workspace-div">
</div>
