<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="../public/main_styles.css">
</head>
<body>
	<h1>{{title}}</h1>
	<main>
		{{{body}}}
	</main>
	<footer>I pledge my honor that I have abided by the Stevens Honor System.</footer>
</body>
</html>