
.bio{
    height: 100%;
    width: 50%;
    padding: 10px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(24, 36, 25);
  }

p{
    padding: 10px;
    font-weight: bold;
}

h1{
    font-size: large;
}

h2{
    padding-top: 40px;
    font-size: medium;
}

h3{
    padding-top: 40px;
    font-size: medium;
}

.update{
    color:cornflowerblue;
}