<section id="chat-section">
	<h2>Chat</h2>
	<ul class="message-list" id="message-list">
		{{#each messages}}
		<li>
			<p class="{{this.author}}-message">{{this.author}}: {{this.message}}</p>
		</li>
		{{/each}}
	</ul>
	<form id="message-form" class="message-form" method="post" action="/relationship/6273eda70e9866f8270a3859/messages">
		<label for="message">Type a Message Here</label>
		<input type="text" id="message" name="message">
		<button type="submit">Submit</button>
	</form>
	<p class="hidden" id="error-message"></p>
	<a id='refresh' class='refresh-link' href="/chats/6273eda70e9866f8270a3859/messages">Refresh Messages</a>
</section>
<script src="/public/scripts/chat-f.js"></script>