<div class="container">
    <h2>Login</h2>
    <form action="/login" method="post" id="login-form">
        <label for="username-login-input">Username:</label>
        <input type="text" name="username" id="username-login-input" placeholder="Enter your username"><br>
        <label for="password-login-input">Password:</label>
        <input type="password" name="password" id="password-login-input" placeholder="Enter your password"><br>
        {{#if errors}}
            <div class="errorDiv">
                <p>{{error}}</p>
            </div>
        {{/if}}
        <p id="login-error-container"></p>
        <button type="submit" class="submitBtn" id="login-submit-button">Submit</button><br>
        <a href="/signup">Need to register? Click here to sign-up</a>
    </form>
</div>
<script src="/public/scripts/loginScript.js"></script>