<div class="container">
    <script src="/public/scripts/helper.js"></script>
    <p>You have been successfully logged out</p>
    <a href="/">Login again? Click here.</a>
    <script>deleteAllCookies()</script>
    <script>window.localStorage.clear()</script>
</div>