      <div class="container">
        <h2>About US</h2>
        <p>Bill Nye has Famously said, "Everyone you will ever meet knows something you don't." We believe in this principle, and we're building a platform to ultilize it and bring people knowledge collectively.</p>
      </div>   
      <div id="div1">         
        <img src="../../public/images/istockphoto-1152022408-170667a.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        <img src="../../public/images/business-mentor-benefits.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        <img src="../../public/images/mentor.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
      </div>
