<div class="container">
    <h2>Signup</h2>
    <form method="post" id="signup-form">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter your username"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter your password"><br>
        <label for="password">Confirm Password:</label>
        <input type="password" name="password2" id="password2" placeholder="Enter your password"><br>
        <label for="age">First Name:</label>
        <input type="text" name="firstName" id="firstName" placeholder="Enter your First name"><br>
        <label for="age">Last Name:</label>
        <input type="text" name="lastName" id="lastName" placeholder="Enter Last name "><br>
        {{#if errors}}
            <div class="errorDiv">
                <p>{{error}}</p>
            </div>
        {{/if}}
        <button type="submit" class="submitBtn">Submit</button><br>
        <a href="/">Already have an account? Click here to log-in</a>
    </form>
</div>